.root {
  background: inherit;
  .form {
    margin: 0px 4px 0px;
    background: inherit;
    .text_field {
      width: 98%;
      padding-bottom: 80px;
      
      border-radius: 4px;
      border: solid 1.2px rgba(50, 50, 50, 0.384);
      background: inherit;
    }
  }
}
