.box {
  width: 222px;
  text-align: start;

  .formControll {
    .inputLabel {
      font-size: 14px;
    }
  }
  .select {
    height: 32px;
    margin-top: 12px;

    font-size: 14px;
    .menu_item {
    }
  }
}
