.root {
  label {
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
  svg {
    font-size: 14px;
  }
  .group {
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 24px;
  }
}
